<div class="panel panel-default profile sign-up">
  <div class="panel-heading">
    <h3>
      Choose Thy Own Adventure
    </h3>
  </div>
  <div class="panel-body">
    <p class="lead">
      A website which allows users to share and play Choose Your Own Adventure style games.
    </p>
    <p>
      Sign up, log in, and after completing a small profile you can view and play though existing mazes, create your own, and publish them for other users to see.
    </p>
  </div>
</div>