<div class="profile">
  <% if @profile.persisted? %>
    <%= render @profile %>
  <% else %>
    <%= render partial: "profiles/form" %>
  <% end %>
</div>

<% if @user.mazes.any? %>
  <div class="panel">
    <h2>
      Mazes
    </h2>
  </div>

  <%= render partial: @user.mazes, locals: { reference: :index } %>
<% end %>