<div class="col-md-12">
  <h3>There are errors!</h3>
</div>

<% error_object.errors.full_messages.each do |error| %>
  <div class="col-md-6">
    <div class="alert alert-danger">
      <%= error %>
    </div>
  </div>
<% end %>
