<h1>
  Add a room to: <span class="title"><%= @room.maze.title %></span>
</h1>

<%= render partial: "shared/errors", locals: { error_object: @room } if @room.errors.any? %>

<%= render partial: "form", locals: { room: @room, form_object: [@room.maze, @room] } %>
