/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub description
 */

$panel-bg: #FFEEC6;
$body-bg: #FFEEC6;

$panel-heading-padding: 8px 10px;
$panel-body-padding: 10px;
$panel-border-radius: 0;

$dropdown-bg: lighten(#3D97B5, 5%);

$navbar-border-radius: 0;
$navbar-default-link-active-bg: $dropdown-bg;
$navbar-default-link-active-color: white;

$navbar-default-color: #fff;
$navbar-default-bg: #3D97B5;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 5%);;

$alert-maze-won: lighten(#3D97B5, 10%);
$alert-maze-lost: lighten(#FA4C2C, 10%);

$dropdown-link-hover-bg: darken($dropdown-bg, 5%);

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Open-Sans|Handlee|Roboto:700,500);

$profile-heading: #3D97B5;
$profile-body: #8ACDE3;
$profile-icons: #FA4C2C;

$maze-heading: #FFD570;
$maze-body: #FFE097;
$maze-icons: #FA4C2C;

$header-background: #3D97B5;
$header-links: #FFF;
$header-brand: #FFF;

body {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.panel {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.description {
  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
  }
  
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
  }
  
  p {
    font-family: 'Open-Sans', sans-serif;
    
    font-size: 18px;
    font-weight: 300;
  }
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

nav.navbar {
  margin-top: 10px;
  
  a.navbar-brand {
    color: $header-brand;
    font-size: 1.8em;
    font-style: italic;
  }
  
  a.navbar-brand:hover {
    color: black;
  }
  
  .nav.navbar-nav {
    a {
      color: $header-links;
      font-size: 1.4em;
    }
    
    a:hover {
      background: darken($header-background, 5%);
    }
  }
  
  .collapse.navbar-collapse {
    background: $header-background;
  }
}

.profile {  
  span.glyphicon {
    margin: 0 5px 0 0;
    font-size: 14px;
    color: $profile-icons;
  }
  
  div.panel-heading {
    background: $profile-heading;
    font-weight: 200;
    color: white;
  }
  
  label {
    font-weight: 200;
  }
  
  div.panel-heading {
    a {
      color: white;
    }
  }
  
  div.panel-body {
    background: $profile-body;
    font-weight: 400;
  }
  
  input {
    font-weight: 400;
  }
  
  .btn.btn-primary {
    background: $profile-heading;
  }
  
  a > .btn.btn-primary {
    font-size: 14px;
    padding: 6px;
    color: black;
    border: 1px solid white;
  }
}

.btn-group > .btn.btn-primary {
  font-size: 18px;
  margin: 0 8px;
  color: black;
}

.maze, .room {
  a { 
    color: $maze-icons; 
  }
  
  p > a {
    color: darken($navbar-default-bg, 10%);
    font-size: 18px;
    font-weight: 300;
  }
  
  .icons {
    
    .btn {
      font-size: 14px;
      padding: 8px;
      margin-left: 4px;
      margin-bottom: 0px;
      color: black;
    }
    
    a {
      text-decoration: none;
      color: black;
    }

    span.glyphicon {
      margin: 0 5px 0 0;
      font-size: 14px;
    }
  }
  
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .pull-right.maze-image {
    margin-left: 15px;
  }
  
  .panel-heading span.glyphicon {
    margin-left: 5px;
  }
  
  div.panel-heading {
    background: $maze-heading;
    
    h2 {
      letter-spacing: 1px;
      font-weight: 200;
      font-size: 1.6em;
    }
    
    h2 > span.author {
      font-size: 0.8em;
    }
  }
  
  div.panel-body {
    background: $maze-body;
    font-weight: 400;
  }
  
  input {
    font-weight: 400;
  }
  
  .btn.btn-primary {
    background: $maze-heading;
    border: 1px solid white;
  }
  
  .btn.btn-primary.submit {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.panel.sign-up {
  margin-top: 30px;
  
  input {
    width: 100%;
  }
}

div.link-panel {
  div.panel-body {
    margin: 0;
    padding: 6px 12px;
  }
  
  .btn {
    margin: 6px 0;
    width: 100%;
    
    font-size: 16px;
    color: black;
    
    span {
      font-size: 16px;
      margin-right: 6px;
    }
  }
}

div.full-width-buttons {
  padding: 8px;
  
  > label.form-internal {
    display: block;
    margin: 8px;
    width: 100%;
  }
}

.devise-links {
  margin-top: 20px;
  
  a.btn.btn-primary { 
    margin: 0;
    padding: 6px 12px;
    display: block;
    width: 100;
  }
}

.alert-maze-won {
  background: $alert-maze-won;
}

.alert-maze-lost {
  background: $alert-maze-lost;
}

.btn-group > .btn.btn-primary {
  margin: 4px 0px;
}

.room {
  h2 {
    font-weight: 200;
  }

  .btn.btn-primary.active {
    background: $maze-heading;
  }
}

.col-md-6.room {
  margin-top: 30px;
}

.glyphicon.glyphicon-thumbs-up {
  color: blue;
}

.glyphicon.glyphicon-thumbs-down {
  color: green;
}

.glyphicon.glyphicon-star {
  color: white;
}

span.glyphicon {
  font-size: 20px;
  color: $profile-icons;
}