h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
}

p {
  font-family: 'Open-Sans', sans-serif;
  
  font-size: 18px;
  font-weight: 300;
}