// Place all the styles related to the mazes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$maze-list-primary: lightblue;
$maze-list-secondary: white;
$maze-list-icons: darken(maroon, 10%);

.maze-panel {
  div.panel-heading {
    background: darken($maze-list-primary, 10%);
    
    h4.panel-title {
      color: $maze-list-secondary;
      font-size: 2em;
    }
      
    h5.panel-title {
      color: $maze-list-secondary;
      font-size: 1.4em;
    }
  }

  .panel-body {
    background: lighten($maze-list-primary, 10%);
    padding: 5px 15px;
    
    .icons {
      font-size: 1.6em;
    }
    
    .glyphicon {
      color: $maze-list-icons;
      margin-left: 20px;
    }
  }
}

div.panel.maze-panel {
  margin-bottom: 15px;
}